*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'El Messiri', 'Tajawal', sans-serif; */
}
body
{
    overflow-x: hidden;
    background-color: #001923;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 140px 20px 40px 20px;
    width: 100%;
}
section#create::before
{
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b, #e91e63);
    border-radius: 50%;
    transform: translate(-420px, -300px);
    animation: animateBefer 5s ease-in-out infinite;
}
@keyframes animateBefer {
    0%, 100%
    {
        transform: translate(-400px, -280px);
    }
    50%
    {
        transform: translate(-400px, -300px);
    }
}
section#create::after
{
    content: '';
    position: absolute;
    width: 350px;
    height: 350px;
    background: linear-gradient(#2196f3, #83d8ff);
    border-radius: 50%;
    transform: translate(400px, 280px);
    animation: animate 5s ease-in-out infinite;
    animation-delay: 2.5s;
}

@keyframes animate {
    0%, 100%
    {
        transform: translate(400px, 300px);
    }
    50%
    {
        transform: translate(400px, 280px);
    }
}

.inner
{
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}
.inner::before
{
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skew(-15deg);
}
.inner h2 
{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
} 
.inner .row100
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.inner .row100 .my-col
{
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 20px;
}
.inner .row100 .my-col .inputBox,
.inner .row100 .my-col .inputBoxCheck
{
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}
.inner .row100 .my-col .inputBox input,
.inner .row100 .my-col .inputBoxCheck input,
.inner .row100 .my-col .inputBox textarea
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.inner .row100 .my-col .inputBox.logo-or-name input.logo
{
    left: 0px;
} 

.inner .row100 .my-col .inputBox .text
{
    position: absolute;
    top: 0;
    right: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.inner .row100 .my-col .inputBox input:focus + .text,
.inner .row100 .my-col .inputBox input:valid + .text,
.inner .row100 .my-col .inputBox textarea:focus + .text,
.inner .row100 .my-col .inputBox textarea:valid + .text,
.inner .row100 .my-col .inputBox.logo-or-name input.name_company:focus ~ .text,
.inner .row100 .my-col .inputBox.logo-or-name input.name_company:valid ~ .text
{
    top: -35px;
    left: -10px;
}
.inner .row100 .my-col .inputBox .line,
.inner .row100 .my-col .inputBoxCheck .line 
{
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}
.inner .row100 .my-col .inputBoxCheck .line,
.inner .row100 .my-col .inputBox.logo-or-name input
{
    width: 50%;
}

.inner .row100 .my-col .inputBox input:focus ~ .line,
.inner .row100 .my-col .inputBox input:valid ~ .line
{
    height: 100%;
}
.inner .row100 .my-col .inputBox .not-required:valid ~ .line
{
    height: 5%;
}

.inner .row100 .my-col .inputBox.textarea
{
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0 ;
}

.inner .row100 .my-col .inputBox textarea:focus ~ .line,
.inner .row100 .my-col .inputBox textarea:valid ~ .line
{
    height: 100%;
}
.inner .row100 .my-col input[type="date"],
.inner .row100 .my-col input[type="time"]
{
    color: #fff;
}
.inner .row100 .my-col input[type="submit"]
{
    border: none;
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

.inner .offers
{
    border: 1px solid #fff6f6;
}

@media (max-width: 768px)
{
    section::before 
    {
        transform: translate(-200px, -180px);
    }
    section::after,
    section::before
    {
        display: none;
    }
    .inner 
    {
        padding: 20px;
    }
    .inner h2
    {
        font-size: 20px;
    }
}
@media (max-width: 540px) 
{
    .inner .row100 .my-col .inputBoxCheck input
    {
        right: 80px;

    }
}



/* square */
#square 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
.square
{
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square span:nth-child(1)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #ff3b8d;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s ease-in-out;
    animation: animateSquare 6s linear infinite;
}
.square:hover span:nth-child(1)
{
    border: none;
    background: linear-gradient(#01d6ff, #0f24f9);;
}

.square span:nth-child(2)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #07b2ff;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s ease-in-out;
    animation: animateSquare 4s linear infinite;

}
.square:hover span:nth-child(2)
{
    border: none;
    background: linear-gradient(#01d6ff, #0f24f9);;
}

.square span:nth-child(3)
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #f9d924;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    transition: .5s ease-in-out;
    animation: animateSquare2 10s linear infinite;

}
.square:hover span:nth-child(3)
{
    border: none;
    background: linear-gradient(#01d6ff, #0f24f9);;
}
@keyframes animateSquare {
    0%
    {
        transform:  rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

@keyframes animateSquare2 {
    0%
    {
        transform:  rotate(360deg);
    }
    100%
    {
        transform: rotate(0deg);
    }
}

.square .content
{
    position: relative;
    padding: 40px 60px;
    color: #fff;
    text-align: center;
    transition: .5s;
    z-index: 1000;
}
.square .content a
{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}
.square #copy
{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #fff;
    padding: 6px 18px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
}

.square:hover #copy
{
    background-color: transparent !important;
}
.square #copy:hover
{
    background-color: #0d6efd !important;
}
.content a:hover 
{
    background: #fff;
    color: #333;
}


@media (max-width: 991px) {
    #square
    {
        min-height: 0vh;
        margin-bottom: 80px;
    }
}

@media (max-width: 768px) {
    .square {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 500px) {
    .square {
        width: 250px;
        height: 250px;
    }
    .square .content {
        padding: 60px 20px;
    }
 
}
